
@import "./_globals.scss";


*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: $bg-main !important;
    box-shadow: inset 0 0 1rem #00000050;

/* -- PROJECT MODALS STYLES -- */
    .project-card {

        .project-card-title {
            font-family: $secondary-font;
            color: $bg-main;
        }

        .project-card-text {
            font-family: $main-font;
        }

        .project-card-lang {
            font-family: $secondary-font;
            background: #f0f0f0;
            color: $accent-main;
        }

        .project-card-link {
            font-family: $main-font;
            color: $accent-secondary;
        }

        .left-arrow, .right-arrow {
            color: $bg-main;

            &:hover {
                color: $accent-main;
            }
        }
    }

    .modal-header, .modal-footer {
        background: #90a9b790;
    }

/* -- NAV STYLES -- */
    nav {

        #nav-projects, #nav-contact {
            font-family: $main-font;
            color: $accent-secondary;
            transition: color 250ms linear;

            &:hover {
                font-weight: bold;
                color: $accent-main;
            }
        }

        #nav-projects-menu {
            background: $bg-main;
            border: 1px solid $accent-main;
            box-shadow: 0 0 2rem #0000007a;
        }

        .dropdown-divider {
            border-top: 1px solid $accent-main;
        }

        .project-item {
            font-family: $main-font;
            color: $accent-secondary; 
            transition: background 500ms linear;

            &:hover {
                background: $accent-main;
            }
        }
    }

/* -- MAIN STYLES -- */
    main {
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

/* -- MAIN BANNER -- */

        #main-banner {
            animation: show-banner 2000ms linear 1250ms forwards;
            opacity: 0;
            
            #main-heading {
                color: $accent-main;

                h1 {
                    margin-top: 2rem;
                    font-size: clamp(1rem, 9vw, 5rem);
                    margin-bottom: 0;
                    font-family: $main-font;
                }
            }

            #main-heading-title {
                position: relative;
                font-family: $secondary-font;

                &::after {
                    content: "";
                    height: 1rem;
                    width: 1rem;
                    background: $bg-main;
                    position: absolute;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    animation: show-title 1250ms linear 2500ms forwards;
                }
            }
            
            #main-socials {
                list-style: none;
                margin-top: .25rem;
                width: 50%;

                .social {
                    transform: translateY(60%);
                    opacity: 0;

                    a {
                        color: $accent-secondary;
                    }
                }

                .social:first-of-type {
                    margin-right: .5rem;
                    animation: fade-up 500ms ease-in-out 2000ms forwards;
                }

                .social:nth-of-type(2) {
                    animation: fade-up 500ms ease-in-out 2100ms forwards;
                }
            }
        }
        
/* -- MAIN ANIMATION -- */
        #anim-main {
            background-color: $bg-main;
            z-index: -5;
            width: 70%;
            height: auto;
            max-width: 40rem;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;

            &:after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }

            .outer-circle {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                border-radius: 50%;
                background: $bg-main;
                animation: fade-circle 2500ms linear forwards;

                &:after {
                    content: "";
                    display: block;
                    padding-bottom: 100%;
                }
            }

            .inner-circle {
                position: absolute;
                margin: auto;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 99%;
                width: 99%;
                border-radius: 50%;
                background-color: $bg-main;
            }

            .box {
                position: absolute;
                height: 50%;
                width: 50%;
                background-color: $bg-main;
            }

            .box-top-left {
                top: 0;
                left: 0;
                transform-origin: 100% 100%;
                animation: show-top-left 500ms linear forwards;
            }

            .box-bottom-left {
                bottom: 0;
                left: 0;
                transform-origin: 100% 0;
                animation: show-bottom-left 250ms linear 500ms forwards;
            }

            .box-bottom-right {
                bottom: 0;
                right: 0;
                transform-origin: 0 0;
                animation: show-bottom-right 250ms linear 750ms forwards;
            }

            .box-top-right {
                top: 0;
                right: 0;
                transform-origin: 0 100%;
                animation: show-top-right 250ms linear 1000ms forwards;
            }
        }
    }
}