:root {
    --text-primary: #003955;
    --text-secondary: #9a8c98;
    --bg-primary: #fcfcfc;
    --bg-secondary: #fff;
}


*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 5rem);
}

body {
    width: 100vw;
    font-family: 'Playfair Display', serif;
    color: var(--text-primary);
    background: var(--bg-primary);
    
    h2, h3, h4, a, li {
        font-family: 'Quicksand', sans-serif;
    }

    .section__title {
        font-size: 2rem;
        margin: 1rem;
    }
}


/*  HEADER STYLES   */
    header {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        /*  Nav  */

        .header__nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 5;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;

            .logo {
                font-size: 1.5rem;
                background-color: #fcfcfc85;
                margin: 1rem;
                padding: 1rem .75rem;
                color: var(--text-primary);
                font-family: 'Fredericka the Great', cursive;

                border-left: 2px solid var(--text-secondary);
                border-bottom: 2px solid var(--text-primary);
                border-top: 1px solid var(--text-secondary);
                border-right: 1px solid var(--text-primary);
                border-bottom-right-radius: 50%;
                border-top-right-radius: 50%;
                border-bottom-left-radius: 50%;
            }

            .open {
                border: none;
                background: none;
                font-size: 2rem;
                padding: 1rem;
                color: var(--text-primary);
                transition: 250ms;

                    &:hover {
                        cursor: pointer;
                        color: #9a8c986b;
                    }
            }

            
            .menu {
                width: 18rem;
                padding: 1rem;
                list-style-type: none;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                position: absolute;
                top: 1rem;
                background: white;
                border-radius: .5rem;
                border:  1px  solid black;


                .close {
                    margin-left: auto;
                    font-size: 2rem;
                    width: 2rem;
                    border: none;
                    background: none;
                    color: var(--text-primary);
                    transition: 250ms;

                    &:hover {
                        cursor: pointer;
                        color: #9a8c986b;
                    }
                }

                .menu__link {
                    padding: 1rem;

                    a {
                        text-decoration: none;
                        font-size: 2rem;
                        color: var(--text-primary);
                        transition: 250ms;

                        &:hover {
                            color: #9a8c986b;
                            padding-right: 1rem;
                            border-right: 1px solid var(--text-secondary);
                        }
                    }
                }
            }

            .menu-closed {
                display: none;
            }

        }
        /*  Intro  */
        .header__intro {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                font-size: 12vw;
                letter-spacing: 2px;
                margin: 1rem;
            }

            span {
                font-size: 2vw;
                letter-spacing: 4px;
            }

        }
        

        /*  Socials  */
            .socials {
                position: fixed;
                right: 1rem;
                bottom: 1rem;
                z-index: 5;
                height: 10rem;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                .social {
                    font-size: 1.75rem;
                    color: var(--text-primary);
                    transition: 250ms;

                        &:hover {
                            color: #9a8c986b;
                        }
                }
            }

            @keyframes arrowFall {
                0% {
                    transform: scale(.5) translateY(-10rem);
                    color: var(--text-primary);
                }
                40% {
                    transform: scale(1) translateY(0);
                    color: var(--text-secondary);
                }
                60% {
                    transform: scale(1) translateY(0); 
                    color: var(--text-secondary);
                }
                100% {
                    transform: scale(.5) translateY(10rem);
                    color: var(--text-primary);
                }
            }

            .arrowDown {
                position: absolute;
                bottom: 2rem;
                left: 2rem;
                height: 5rem;
                width: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;

                #arrow {
                    font-size: 1.5rem;
                    animation: arrowFall 2s 3 linear;
                    color: var(--text-secondary);
                }
            }
    }


    main {
        margin-top: 10rem;
        width: 100vw;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;


        /*  ABOUT STYLES   */

        #about {
            border: 2px solid var(--text-primary);
            max-width: 40rem;
            padding: 2rem;
            background: var(--bg-secondary);
            border-radius: 5px;
            
            
            .about__details {
                display: flex;
                flex-direction: column;
                align-items: center;

                .about__bio {
                    line-height: 1.5rem;
                    position: relative;

                    .bio__tech-list {
                        list-style: none;
                        display: flex;
                        gap: .5rem;
                        justify-content: space-evenly;
                        flex-wrap: wrap;
                        margin-top: 1rem;

                        .bio__tech-item {
                            font-size: .5rem;
                            padding: .25rem;
                        }
                    }

                    .about__img {
                        margin-top: 1rem;
                        margin-left: auto;
                        border-radius: 4px;
                        height: 6rem;
                        width: 6rem;
                        background-image: url("../resources/headshot0.JPG");
                        background-size: cover;
                        position: relative;
        
                        &::before {
                            content:  "";
                            position: absolute;
                            z-index: 5;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            background: rgba(0, 0, 85, .25);
                            border-radius: 4px;
                        }
                    }
                }                
            }
        }


        /*  WORK STYLES   */

        #work {
            margin-top: 10rem;
            
            .work__list {
                
                .card {
                    position: relative;
                    border-radius: 2px;
                    
                    .card__preview {
                        width: 100%;
                        border-radius: 2px;
                    }
                    
                    .card__info {
                        position: absolute;
                        top: 0;
                        height: 100%;
                        background: #00000075;
                        color: white;
                        padding: 1rem .5rem;
                        padding-top: 10%;
                        border-radius: 2px;

                        .card__link {
                            color: white;
                            text-decoration: none;
                            letter-spacing: 1px;
                            
                            h2 {
                                margin-left: .5rem;
                                margin-bottom: 1rem;
                                border: 1px solid white;
                                text-align: center;
                            }

                            &:hover {
                                opacity: .75;
                            }
                        }

                        .card__desc {
                            margin: .5rem 0;
                            line-height: 1.5rem;
                        }

                        .card__language {
                            font-size: .7rem;
                        }
                    }
                }
            }
        }
    }
    

    footer {
        /*  CONTACT STYLES   */

        #contact {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            

            #contact__form {
                border: 2px solid var(--text-primary);
                border-radius: 5px;
                padding: 2rem 1rem;
                display: flex;
                flex-direction: column;
                background: var(--bg-primary);
                box-shadow: 0 0 1rem var(--text-secondary);

                h2 {
                    margin: 1rem;
                }

                input {
                    height: 2rem;
                    margin-bottom: .5rem;
                    padding: .5rem;
                    font-family: 'Quicksand', sans-serif;
                    color: var(--text-primary);
                    outline: none;
                    border: 1px solid var(--text-primary);

                    &:focus {
                        outline: none;
                        border: 2px solid var(--text-primary);
                    }
                }

                textarea {
                    margin-bottom: .5rem;
                    padding: .5rem;
                    font-family: 'Quicksand', sans-serif;

                    &:focus {
                        outline: none;
                        border: 2px solid var(--text-primary);
                    }
                }

                #contact__submit {
                    background: var(--bg-secondary);
                    transition: 250ms;

                    &:hover {
                        cursor: pointer;
                        background: #9a8c986b;
                        color: #fff;
                        border: 1px solid #fff;
                    }
                }
            }
        }
    }

   
    

/*        RESPONSIVE STYLES          */

@media screen and (min-width: 768px) {

    /*  HEADER STYLES   */

    header {
        height: 100vh;

        /*  Nav  */
        .header__nav {
            flex-direction: row;

            .menu-icon {
                display: none;
            }

            .menu {
                padding: 0;
                width: 50%;
                flex-direction: row;
                position: static;
                background: none;
                padding: 1rem;
                margin-left: auto;
                border: none;


                .menu__link {
                    padding: 1rem;

                    a {
                        text-decoration: none;
                        font-size: 1rem;
                        transition: 250ms;

                        &:hover {
                            padding-right: 0;
                            border-right: none;
                            padding-bottom: .5rem;
                            border-bottom: 1px solid var(--text-secondary);
                        } 
                    }
                }
            }

            .menu-closed {
                display: flex;
            }
        }
        

        /*  Socials  */
        .socials {
            height: 3rem;
            width: 10rem;
            flex-direction: row;
            justify-content: space-between;

        }
    }

    /*  WORK STYLES   */

    #work {
            
        .work__list {
            
            .card {
                margin-bottom: .5rem;
            }
        }
    }

}