
/*          UNIVERSAL STYLES         */


body {
    font-family: 'Roboto Flex', sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
}

@keyframes bgGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

$white: #fff;
$gray: #e5e5e5;
$accent: #9a8c98;
$blue: #22223b;
$black: #000;

/*          HEADER STYLES         */

.header__main {
    padding: 1rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(-45deg, $blue, #4a4e69, #9a8c98, #c9ada7);
    background-size: 400% 400%;
    animation: bgGradient 6s ease infinite;

    .header__container {
        width: 30rem;
        display: flex;
        flex-direction: column;
    }
}


.header__heading {
    text-decoration: none;
    position: relative;

    h1 {
        font-size: clamp(3rem, 8vw, 6rem);
        margin: 0;
        color: rgb(22, 22, 22);
        font-family: 'Corinthia', cursive;
        text-align: center;

        &:hover + #arrow{
            color: rgb(22, 22, 22);
            opacity: 1;
            transform: translateY(2.75rem);
        }
    }
    
    #arrow {
        color: $white;
        position: absolute;
        bottom: 0rem;
        left: 15rem;
        opacity: 0;
        transition: all 500ms linear;
    }
}



.header__desc {
    color: #22333b;
    text-transform: uppercase;
    font-size: .83rem;
    letter-spacing: 3px;
    text-align: right;
    margin-top: .25rem;
    margin-right: 1.5rem;
}

.header__link {
    display: block;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(211, 211, 211);
    text-decoration: none;
    box-shadow: 0 0 5px rgba(172, 172, 172, 0.507);
    border-radius: 2rem;
    padding: 1rem 0;
    margin: 2rem auto;
    width: 8rem;
    transition: all 400ms linear;

    &:hover {
        color: $white;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.685);
        width: 10rem;
    }
}

#header__arrow {
    color: $white;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    padding: 1rem 4rem 1rem 8rem;
    transition: all 500ms ease-out;

    &:hover {
        opacity: 1;
        right: -3rem;
    }
}



/*          WORK STYLES         */


.section__header {
    padding: 1.5rem;
    border-top: 1px solid $accent;
    border-bottom: 1px solid $accent;

    h2 {
        font-size: 2.5rem;
        color: $blue;
        letter-spacing: .4rem;
        text-transform: uppercase;
        text-align: right;
    }
}

.work__section {
    width: 100vw;
    padding-bottom: 7rem;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    .card {
        width: 22rem;
        height: 26rem;
        position: relative;
        margin-top: 3rem;
        box-shadow: 0 0 1rem rgba(128, 128, 128, 0.445);
        border-radius: .5rem;
        
        .card__link {

            .card__preview {
                width: 100%;
                border-top-left-radius: .5rem;
                border-top-right-radius: .5rem;

                &:hover {
                    opacity: .75;
                }
            }
        }

        .card__info {
            padding: 1rem;
            text-align: center;
            color: $blue;

            .card__name {
                font-size: 1.25rem;
                letter-spacing: 1px;
                margin-top: 0;
            }

            .card__desc {
                font-family: 'Cormorant Garamond', serif;
                font-size: .9rem;
                border-top: 1px solid $accent;
                line-height: 1.5rem;
                padding-top: 1rem;
                margin: 0;

                a {
                    color: rgb(150, 150, 150);
                    text-decoration: none;
                    transition: all 200ms ease-out;

                    &:hover {
                        cursor: pointer;
                        color: $accent;
                    }
                }
            }

            .card__language {
                display: block;
                font-size: .75rem;
                font-weight: 600;
                position: absolute;
                padding: .25rem;
                bottom: 0;
                left: 0;
                color: $accent;
            }

            .card__attribution {
                display: block;
                font-size: .65rem;
                position: absolute;
                padding: .25rem;
                bottom: 0;
                right: 0;
                color: rgb(180, 180, 180);

                a {
                    color: rgb(145, 145, 145);
                    text-decoration: none;
                    transition: all 150ms linear;

                    &:hover {
                        color: rgb(99, 99, 99);
                    }
                }
            }
        }
    }
}


/*          BIO STYLES         */
    .bio__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0 5rem 0;
        padding: 1rem;

        #headshot {
            height: 9rem;
            width: 9rem;
            border-radius: 2.25rem;
            box-shadow: 0 0 1rem #9a8c98a2;
            margin: 1rem;
        }
        
    
        .bio-about {
            padding: 1rem;
            max-width: 45rem;
            color: $blue;
            border-left: 1px solid $blue;
            position: relative;

            h3 {
                font-size: 2rem;
            }

            p {
                line-height: 1.5rem;

                span {
                    color: $accent;
                    font-weight: bold;
                }
            }

            .bio__tech-list {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                padding: 0;
                margin-bottom: 2rem;

                .bio__tech-item {
                    width: 5rem;
                    font-size: .75rem;
                    border-radius: .5rem;
                    padding: .5rem 0;
                    margin: .25rem;
                    list-style: none;
                    background: #c9ada73b;
                    text-align: center;
                }
            }

            .contact__links {
                width: 85%;
                max-width: 35rem;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }


            .bio__contact {
                padding: .75rem;
                margin: 0 .25rem;
                background-color: #c9ada763;
                color: $blue;
                border: none;
                border-radius: .5rem;
                text-decoration: none;
                font-size: .85rem;
                transition: all  250ms linear;

                &:hover {
                    cursor: pointer;
                    background-color: #c9ada7;
                }
            }

            .bio__resume {
                padding: .75rem 1.25rem;
            }

            .bio__social {
                color: $blue;
                transition: color 200ms ease-in;
            
                &:hover {
                    cursor: pointer;
                    color: $accent;
                }
            }

            .email-form {
                display: none;
                width: 20rem;
                height: 16rem;
                position: absolute;
                left: 50%;
                margin-left: -10rem;
                top: -10rem;
                flex-direction: column;
                font-family: 'Roboto Flex', sans-serif;
                padding: .25rem .5rem;
                background-color: $white;
                border-radius: .5rem;
                box-shadow: 0px 0px 1.5rem #9a8c98a6;

                h4 {
                    color: $blue;
                    text-align: center;

                }

                input, textarea {
                    padding: .35rem;
                    margin: .25rem 0;
                    background-color: #c9ada725;
                    border: none;
                    border-radius: .4rem;
                    color: $blue;
                    font-family: 'Roboto Flex', sans-serif;
                    
                    &::placeholder {
                        font-family: 'Roboto Flex', sans-serif;
                    }

                    &:focus {
                        outline: none !important;
                        border: 1px solid #4a4e69;
                        background-color: white;
                      }
                }

                #contact__submit {
                    background-color: #c9ada763;
                    transition: all 250ms ease;

                    &:hover {
                        cursor: pointer;
                        opacity: .5;
                    }
                }


                #close-form {
                    height: 1rem;
                    width: 1rem;
                    font-size: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    background-color: white;
                    color: $accent;
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    transition: all 250ms ease;

                    &:hover {
                        cursor: pointer;
                        color: $blue;
                    }
                }
            
            }

            .show-form {
                display: flex;
            }

        }
  
    }


    


    @media screen and (min-width: 750px) {
        .bio__section {
            flex-direction: row;
            justify-content: space-evenly;

            #headshot {
                height: 10rem;
                width: 9rem;
                border-radius: 2.25rem;
                margin-right: 1rem;
            }

            .bio-about {
                padding-left: 2rem;
            }
        }
    }


    /*        Thank you page styles          */

    .thankyou__container {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $accent;

        .thankyou__card {
            width: 22rem;
            height: 14rem;
            background-color: $white;
            border-radius: 1rem;
            box-shadow: .25rem .25rem 1rem black;
            color: $blue;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .thankyou__link {
                position: absolute;
                top: .5rem;
                left: .5rem;
                text-decoration: none;
                color: $blue;

                &:hover {
                    opacity: .75;
                }
            }
    
            .thankyou__header {
                text-align: center;
                margin: .75rem .5rem;
            }
    
            .thankyou__message {
                text-align: center;
                opacity: .75;
            }
        }
    }

    

